.login_box {
  padding: 0 40px;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-image: url("https://img0.baidu.com/it/u=3119329452,4039746856&fm=253&fmt=auto&app=138&f=JPEG?w=500&h=800");
  // background-position: center; // 背景图位置垂直水平居中
  // background-repeat: no-repeat; // 不平铺
  background-image: linear-gradient(to bottom, #9ae1e4, #ffffff, #f5c6e1);

  height: 100vh;
  .title {
    font-size: 40px;
    font-weight: 700;
  }
  .login_box_text2 {
    font-size: 24px;
    color: rgb(107, 107, 107);
  }
  .name {
    margin-top: 50px;
    display: flex;
    width: 93%;
    padding: 20px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text {
      margin-right: 50px;
    }
    input {
      flex: 1;
    }
  }
  .avatar {
    width: 200px;
    height: 200px;
    border: 1px solid #ddd;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 10px;
  }
  .login_but {
    width: 100%;
    margin-top: 50px;
  }
}
