.header {
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin-bottom: 10px;
  position: relative;
}

.header2 {
  height: 80px;
  background-color: #fff;
}

.back_img {
  position: absolute;
  left: 20px;
  height: 40px;
  width: 40px;
}
