.files_box {
  .jinru_img {
    width: 40px;
    height: 40px;
  }
  .ftext1 {
    font-size: 30px;
  }
  .ftext2 {
    font-size: 28px;
    font-weight: 300;
    color: rgb(114, 112, 112);
  }
  .ftext3 {
    font-size: 26px;
    color: rgb(27, 27, 27);
  }

  .tx {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }
  .w0 {
    flex: 1;
  }
  .w1 {
    width: 404px;
  }
  .dec{
    font-size: 26px;
    font-weight: 300;

  }
}
